.closed {
    height: 0;
    opacity: 0;
    display: none;
}

.rotate {
    transform: rotate(90deg);
}

.active {
    background-color: #E0E7FF
}
ul ul li {
    padding: 5px;
    padding-left: 20px;
    border-radius: 7px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}