.main > main .reports-questionnaire-data {
    width: 100%;
    overflow-x: auto;
    margin: 0;
    background-color: #eee;
    padding: 15PX;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 15px auto;
}
table thead th {
    text-align: left;
    color: #999;
    padding: 16px;
}
table td, table th {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    white-space: nowrap;
    text-align: center;
    padding: 8px 16px;
    color: #777;
}