.main > main .reports-questionnaire-data {
    width: 100%;
    overflow-x: auto;
    margin: 0;
    background-color: #eee;
    padding: 15PX;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 15px auto;
}
table thead th {
    text-align: left;
    color: #999;
    padding: 16px;
}
table td, table th {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    white-space: nowrap;
    text-align: center;
    padding: 8px 16px;
    color: #777;
}

.questionnaireSelect {
    list-style: none;
}
.questionnaireSelect summary {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.questionnaireSelect summary .summary-chevron-up {
    transition: .3s ease-out;
    transform: rotateZ(-90deg) translateX(2px);
}

.questionnaireSelect[open] summary .summary-chevron-up {
    transition: .3s ease-in;
    transform: rotateZ(0deg) translateX(0);
}

.questionnaireSelect .questionnaireSelectItem {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}
.questionnaireSelect .questionnaireSelectItem:hover {
    background-color: #ccc;
}

.questionnaireSelectContent {
    max-height: 130px;
    overflow-x: auto;
    background-color: #f9f9f9;
}