.main {
    position: relative;
    min-height: 100vh;
    height: 100%;
}

.main > nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: column;
    color: #3730A3;
    z-index: 1;
    border-right: 1px solid #EFEFEF;
    box-shadow: 0 0 5px #EFEFEF;
}

.main > nav > ul {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.main > nav > ul header {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
}
.main > nav > ul header .icon {
    display: inline-flex;
}
.main > nav > ul header .span {
    margin-left: 10px;
    flex: 1;
}

.main > nav ul {
    list-style: none;
}
.main > nav > ul ul {
    padding-left: 10px;
}
.main > nav a {
    text-decoration: none;
    color: inherit;
}

.main > header, .main > nav > header, .main > nav > * > header {
    height: 64px;
}

.main > header, .main > main, .main > footer {
    position: relative;
    box-sizing: border-box;
    right: 0;
    margin-left: 260px;;
    width: calc(100% - 260px);
}

.main > nav .footer {
    padding: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: #EEF2FF;
}

.main > nav .footer .profile-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ccc;
    border-radius: 100%;
}

.main > nav .footer header {
    font-weight: 600;
}
.main > nav .footer p {
    font-size: .87rem;
}

.main > header {
    box-shadow: 0 0px 10px #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    font-weight: bold;
    color: #3730A3;
}

.main > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > main > * {
    margin: 32px 24px;
}

.main > nav details {
    position: relative;
}

.main > nav details summary {
    cursor: pointer;
}

.main > nav details section {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 4px;
}
.main > nav details section > button {
    width: 100%;
    font-weight: bold;
}