.questionnaires-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
}

.questionarios-title {
    margin-bottom: 16px;
    color: #999;
}

.questionarios-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.questionarios-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #EEE;
    margin-bottom: 8px;
}

.questionarios-list li a {
    text-decoration: none;
}

.questionarios-list li .buttons-section > * {
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    opacity: .4;
    transition: .2s ease-out;
}

.questionarios-list li:hover .buttons-section > * {
    transition: .2s ease-in;
    opacity: 1;
}

.questionarios-list li .buttons-section > .clone {
    background-color: #FFF;
}
.questionarios-list li .buttons-section > .update {
    background-color: #B2c4FF;
    color: #1105FF;
}
.questionarios-list li .buttons-section > .remove {
    background-color: rgba(255,0,0,.3);
    color: #FF0505;
}

.main > main .add {
    display: block;
    padding: 16px 24px;
    background-color: #1105FF;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
}