.main-button {
    width: 100%;
    margin-bottom: 24px;
}
.main-button .save-questionnaire {
    background-color: #9e9;
    padding: 8px 40px;
    border: 1px solid #9a9;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

.questionnaire-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.questionnaire-form p {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.questionnaire-form p.name {
    min-width: calc(100% - 580px);
    flex: 1;
}
.questionnaire-form p.quantity {
    width: 168px;
}
.questionnaire-form p.endDate {
    width: 265px;
}

.questionnaire-form p label {
    font-weight: bold;
    color: #707070;
}

.questionnaire-form .checkbox-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 8px;
}

.questionnaire-form .appliers-section {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.questionnaire-form fieldset {
    width: 100%;
    padding: 8px 0;
    border: none;
}
.questionnaire-form fieldset legend {
    font-weight: bold;
    color: #909090;
}

.questionnaire-form .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.questionnaire-form .buttons .remove {
    display: inline-block;
    background-color: #f83461;
    color: #fff;
    align-self: center;
    justify-self: center;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}